In [1]:
import numpy as np
import pandas as pd

In [2]:
#dos colecciones nuevas: dataframes y series

In [3]:
#series:

In [4]:
#es un array de numpy mas un indice

In [5]:
mi_primera_serie=pd.Series(np.array([2,5,4.3,-6.4]))

In [6]:
mi_primera_serie

0    2.0
1    5.0
2    4.3
3   -6.4
dtype: float64

In [7]:
#la primera columna es el indice

In [8]:
mi_primera_serie.index

RangeIndex(start=0, stop=4, step=1)

In [9]:
np.array(mi_primera_serie.index)

array([0, 1, 2, 3])

In [10]:
mi_primera_serie.values

array([ 2. ,  5. ,  4.3, -6.4])

In [16]:
una_serie=pd.Series(np.array([12,21,43,11]),index=["juan","paco","marta","luis"])

In [17]:
una_serie

juan     12
paco     21
marta    43
luis     11
dtype: int64

In [18]:
una_serie["marta"]

43

In [19]:
una_serie*2

juan     24
paco     42
marta    86
luis     22
dtype: int64

In [20]:
#una serie es parecido a un conjunto claves-valor, la transformacion es automatica

In [21]:
un_diccionario={"pablo":12,"Iñigo":17,"Julio":3.145}

In [23]:
pd.Series(un_diccionario)

Iñigo    17.000
Julio     3.145
pablo    12.000
dtype: float64

In [26]:
pd.Series(un_diccionario,index=["Julio","Eustaquio","Juan carlos","David","Roberto"])

Julio          3.145
Eustaquio        NaN
Juan carlos      NaN
David            NaN
Roberto          NaN
dtype: float64

In [27]:
not_a_number=np.nan

In [28]:
mi_serie=pd.Series(np.array([123,456,789]))

In [29]:
mi_serie

0    123
1    456
2    789
dtype: int64

In [30]:
mi_serie.name="Cuenta corriente"

In [31]:
mi_serie.index.name="Numero de observacion"

In [32]:
mi_serie

Numero de observacion
0    123
1    456
2    789
Name: Cuenta corriente, dtype: int64

In [34]:
mi_serie.index=["a","b","c"]

In [35]:
mi_otra_serie=pd.Series(np.array([2,3,4,5]),index=["b","c","f","j"])

In [36]:
mi_serie+mi_otra_serie

a      NaN
b    458.0
c    792.0
f      NaN
j      NaN
dtype: float64

In [37]:
#suma las claves indice a indice

## dataframes

In [45]:
diccionario ={"nombre":np.array(["julio","marta","nuria","jose","luis","daniela"]),
                "edad": np.array([22,26,28,25,24,26]),
                "sexo": np.array(["h","m","m","h","h","m"])
              }

#un dataframe es un diccionario de series

In [46]:
mi_primer_dataframe=pd.DataFrame(diccionario)

In [47]:
mi_primer_dataframe["edad"]

0    22
1    26
2    28
3    25
4    24
5    26
Name: edad, dtype: int64

In [48]:
#acceder a la fila :

In [49]:
mi_primer_dataframe.ix[2]

edad         28
nombre    nuria
sexo          m
Name: 2, dtype: object

In [50]:
#acceder a dos columnas

In [52]:
mi_primer_dataframe[["edad","sexo"]]

   edad sexo
0    22    h
1    26    m
2    28    m
3    25    h
4    24    h
5    26    m

In [53]:
#añadir columna

In [54]:
mi_primer_dataframe["rubio/a"]=np.array([False,True,False,True,True,False])

In [55]:
mi_primer_dataframe

   edad   nombre sexo rubio/a
0    22    julio    h   False
1    26    marta    m    True
2    28    nuria    m   False
3    25     jose    h    True
4    24     luis    h    True
5    26  daniela    m   False

In [56]:
mi_primer_dataframe.shape

(6, 4)

In [57]:
mi_primer_dataframe.T

             0      1      2     3     4        5
edad        22     26     28    25    24       26
nombre   julio  marta  nuria  jose  luis  daniela
sexo         h      m      m     h     h        m
rubio/a  False   True  False  True  True    False

In [58]:
mi_primer_dataframe

   edad   nombre sexo rubio/a
0    22    julio    h   False
1    26    marta    m    True
2    28    nuria    m   False
3    25     jose    h    True
4    24     luis    h    True
5    26  daniela    m   False

In [59]:
mi_primer_dataframe.index.name="id"

In [60]:
mi_primer_dataframe.columns.name ="variables"

In [61]:
mi_primer_dataframe

variables  edad   nombre sexo rubio/a
id
0            22    julio    h   False
1            26    marta    m    True
2            28    nuria    m   False
3            25     jose    h    True
4            24     luis    h    True
5            26  daniela    m   False

In [62]:
mi_primer_dataframe.columns

Index(['edad', 'nombre', 'sexo', 'rubio/a'], dtype='object', name='variables')

In [63]:
mi_primer_dataframe[:5]

variables  edad nombre sexo rubio/a
id
0            22  julio    h   False
1            26  marta    m    True
2            28  nuria    m   False
3            25   jose    h    True
4            24   luis    h    True

In [64]:
#filtros

In [66]:
mi_primer_dataframe["edad"] > 24

id
0    False
1     True
2     True
3     True
4    False
5     True
Name: edad, dtype: bool

In [68]:
mi_primer_dataframe[mi_primer_dataframe["edad"] > 24] #indexado booleano

variables  edad   nombre sexo rubio/a
id
1            26    marta    m    True
2            28    nuria    m   False
3            25     jose    h    True
5            26  daniela    m   False

## aplicaiones de funciones sobre dataframes

In [70]:
df_numerico = pd.DataFrame({"a":np.random.normal(0,1, (7,)), # (7,) crea un array de 7 elementos
                            "b":np.random.normal(1,3, (7,)),
                            "c":np.random.normal(2,5, (7,)),
                            "d":np.random.normal(-4,1,(7,)),
                            "e":np.random.normal(2,1, (7,))})

In [71]:
#sacar el numero mas grande de cada columna

In [72]:
df_numerico.apply(lambda x: x.max())

a    1.351717
b    8.269934
c    4.181678
d   -2.990076
e    3.036797
dtype: float64

In [73]:
#sacar el numero mas grande de cada fila

In [75]:
df_numerico.apply(lambda x: x.max(),axis=1) #axis =1 filas, axis = 0 columnas, por defecto

0    1.351717
1    2.756234
2    8.269934
3    1.883720
4    2.001737
5    3.036797
6    5.026080
dtype: float64

In [79]:
df_numerico.applymap(lambda x: "numero mayor que 3" if x > 3 else "numero menor que 3") #applymap -> x son las celdas

,a,b,c,d,e
0,numero menor que 3,numero menor que 3,numero menor que 3,numero menor que 3,numero menor que 3
1,numero menor que 3,numero menor que 3,numero menor que 3,numero menor que 3,numero menor que 3
2,numero menor que 3,numero mayor que 3,numero mayor que 3,numero menor que 3,numero menor que 3
3,numero menor que 3,numero menor que 3,numero menor que 3,numero menor que 3,numero menor que 3
4,numero menor que 3,numero menor que 3,numero menor que 3,numero menor que 3,numero menor que 3
5,numero menor que 3,numero menor que 3,numero menor que 3,numero menor que 3,numero mayor que 3
6,numero menor que 3,numero mayor que 3,numero mayor que 3,numero menor que 3,numero menor que 3

In [80]:
df_numerico.max()

a    1.351717
b    8.269934
c    4.181678
d   -2.990076
e    3.036797
dtype: float64

In [81]:
df_numerico.max(axis=1)

0    1.351717
1    2.756234
2    8.269934
3    1.883720
4    2.001737
5    3.036797
6    5.026080
dtype: float64

In [82]:
df_numerico.std()

a    0.920395
b    4.570229
c    4.649688
d    0.610025
e    0.891176
dtype: float64

In [83]:
df_numerico.std(axis=1)

0    2.956915
1    2.644108
2    4.332664
3    2.811888
4    2.375055
5    3.923184
6    3.612103
dtype: float64

In [84]:
df_numerico.describe()

              a         b         c         d         e
count  7.000000  7.000000  7.000000  7.000000  7.000000
mean  -0.162963  0.655393 -1.266813 -3.830599  1.637274
std    0.920395  4.570229  4.649688  0.610025  0.891176
min   -1.136444 -4.991257 -6.956132 -4.619263  0.382548
25%   -0.759878 -1.826128 -5.285083 -4.240539  1.010375
50%   -0.291855 -0.389602 -1.327442 -3.990659  1.883720
75%    0.227797  2.675464  2.902187 -3.366558  2.068550
max    1.351717  8.269934  4.181678 -2.990076  3.036797

In [87]:
import pandas_profiling
pandas_profiling.ProfileReport(df_numerico)

In [89]:
df_numerico.corr(method="spearman")

          a         b         c         d         e
a  1.000000 -0.071429 -0.071429  0.607143 -0.285714
b -0.071429  1.000000  1.000000 -0.071429 -0.285714
c -0.071429  1.000000  1.000000 -0.071429 -0.285714
d  0.607143 -0.071429 -0.071429  1.000000  0.035714
e -0.285714 -0.285714 -0.285714  0.035714  1.000000

In [90]:
df_numerico.cov()

          a          b          c         d         e
a  0.847127  -1.428875  -1.048332  0.193918 -0.238239
b -1.428875  20.886996  18.735400  0.190527 -1.919679
c -1.048332  18.735400  21.619595 -0.247888 -1.199942
d  0.193918   0.190527  -0.247888  0.372130  0.004717
e -0.238239  -1.919679  -1.199942  0.004717  0.794195

# nans

In [92]:
df_con_nan=df_numerico.applymap(lambda x: np.nan if np.random.randint(0,10)>8 else x)

In [93]:
df_con_nan

          a         b         c         d         e
0  1.351717 -3.016927 -5.815542 -3.602686  0.382548
1  0.744305  0.324848  2.756234 -3.990659  2.135363
2 -0.288710  8.269934       NaN       NaN  1.057821
3 -0.291855       NaN -4.754624 -4.226247  1.883720
4 -1.136444 -0.389602 -1.327442 -4.619263  2.001737
5 -0.390643 -4.991257 -6.956132 -3.130430  3.036797
6       NaN  5.026080  3.048140       NaN  0.962930

In [94]:
df_con_nan.isnull()

       a      b      c      d      e
0  False  False  False  False  False
1  False  False  False  False  False
2  False  False   True   True  False
3  False   True  False  False  False
4  False  False  False  False  False
5  False  False  False  False  False
6   True  False  False   True  False

In [95]:
# cargarse filas con nulos

In [96]:
df_con_nan.dropna()

          a         b         c         d         e
0  1.351717 -3.016927 -5.815542 -3.602686  0.382548
1  0.744305  0.324848  2.756234 -3.990659  2.135363
4 -1.136444 -0.389602 -1.327442 -4.619263  2.001737
5 -0.390643 -4.991257 -6.956132 -3.130430  3.036797

In [97]:
df_con_nan.fillna(value=df_con_nan.mean())

          a         b         c         d         e
0  1.351717 -3.016927 -5.815542 -3.602686  0.382548
1  0.744305  0.324848  2.756234 -3.990659  2.135363
2 -0.288710  8.269934 -2.174894 -3.913857  1.057821
3 -0.291855  0.870513 -4.754624 -4.226247  1.883720
4 -1.136444 -0.389602 -1.327442 -4.619263  2.001737
5 -0.390643 -4.991257 -6.956132 -3.130430  3.036797
6 -0.001939  5.026080  3.048140 -3.913857  0.962930

# pivoter y reformar dataframes

In [99]:
mi_primer_dataframe

variables  edad   nombre sexo rubio/a
id
0            22    julio    h   False
1            26    marta    m    True
2            28    nuria    m   False
3            25     jose    h    True
4            24     luis    h    True
5            26  daniela    m   False

In [104]:
df_dos=pd.DataFrame({"nombre":np.array(["julio","jose","luis","daniel","enano"]),
                     "altura":np.array([175.1,189,156,201.3,114]),
                    "casado/a":np.array([False,False,True,False,True])})

In [105]:
df_dos

   altura casado/a  nombre
0   175.1    False   julio
1   189.0    False    jose
2   156.0     True    luis
3   201.3    False  daniel
4   114.0     True   enano

In [106]:
# joins
mi_primer_dataframe.merge(df_dos,how="inner",on="nombre")

variables  edad nombre sexo rubio/a  altura casado/a
0            22  julio    h   False   175.1    False
1            25   jose    h    True   189.0    False
2            24   luis    h    True   156.0     True

In [108]:
mi_primer_dataframe.merge(df_dos,how="left",on="nombre")

variables  edad   nombre sexo rubio/a  altura casado/a
0            22    julio    h   False   175.1    False
1            26    marta    m    True     NaN      NaN
2            28    nuria    m   False     NaN      NaN
3            25     jose    h    True   189.0    False
4            24     luis    h    True   156.0     True
5            26  daniela    m   False     NaN      NaN

In [110]:
mi_primer_dataframe.merge(df_dos,how="right",on="nombre")

variables  edad  nombre sexo rubio/a  altura casado/a
0          22.0   julio    h   False   175.1    False
1          25.0    jose    h    True   189.0    False
2          24.0    luis    h    True   156.0     True
3           NaN  daniel  NaN     NaN   201.3    False
4           NaN   enano  NaN     NaN   114.0     True

In [116]:
df_joineado=mi_primer_dataframe.merge(df_dos,how="outer",on="nombre")

# leer archivos

In [117]:
#mi_dataframe_importado = pd.read_csv("")

In [118]:
df_joineado.groupby("rubio/a").count()

variables  edad  nombre  sexo  altura  casado/a
rubio/a
False         3       3     3       1         1
True          3       3     3       2         2

In [121]:
print(df_joineado.groupby(["rubio/a","sexo"]).sum())

variables     edad  altura
rubio/a sexo
False   h     22.0   175.1
        m     54.0     NaN
True    h     49.0   345.0
        m     26.0     NaN